<app-navegation></app-navegation>

<section>
    <header>
        <h2>Conocimientos</h2>
    </header>
    <div>
        <figure>
            <img src="../../../assets/html-5.png" alt="imagen del lenguaje html">
            <figcaption>Html</figcaption>
        </figure>
        <figure>
            <img src="../../../assets/css-3.png" alt="imagen del lenguaje css">
            <figcaption>Css</figcaption>
        </figure>
        <figure>
            <img src="../../../assets/js.png" alt="imagen del lenguaje javascript">
            <figcaption>JavasCript</figcaption>
        </figure>
        <figure>
            <img src="../../../assets/jquery.png" alt="imagen de libreria jquery">
            <figcaption>Jquery</figcaption>
        </figure>
        <figure>
            <img src="../../../assets/php.png" alt="imagen del lenguaje php">
            <figcaption>Php</figcaption>
        </figure>
        <figure>
            <img src="../../../assets/mysql.png" alt="imagen base de datos mysql">
            <figcaption>Mysql</figcaption>
        </figure>
        <figure>
            <img src="../../../assets/wordpress.png" alt="imagen de Wordpress">
            <figcaption>Wordpress</figcaption>
        </figure>
        <figure>
            <img src="../../../assets/angular.png" alt="imagen del framework angular">
            <figcaption>Angular</figcaption>
        </figure>
    </div>
</section>