<app-navegation></app-navegation>

<section class="containerHomePage">
<figure class="figure">
    <img class="figure__image" src="../../../assets/hackerImg.webp" alt="">

    <figcaption class="figure__caption">
        <h2>Arath Abello
            diseñador, desarrollador web y ciberseguridad
        </h2>
    </figcaption>
</figure>
<article class="sectionHomePage">
    <header>
        <h2>Sobre mi</h2>
    </header>
    <article>
        <header>
            <h3>Experiencia</h3>
        </header>
        <p>practicante desarrollador y diseñador | abril 2023 > junio 2023</p>
        <p>desarrollador freelance e investigador | julio 2023 > octubre 2023 </p>
    </article>
    <article>
        <header>
            <h3>Educación</h3>
        </header>
        <p>Insituto profesional DuocUC</p>
        <p>Bootcamp coderhouse</p>
    </article>
    <article>
        <header>
            <h3>Certificaciones</h3>
        </header>
        <p>Diseño ux/ui y desarrollo web <a class="certificados" href="#">Ver certificado</a></p>
        <p>Bootcamp coderhouse ciberseguridad <a class="certificados" href="#">Ver certificado</a></p>
    </article>
</article>
</section>
<app-footer></app-footer>