
<section class="section">
    <header class="section__header">
        <a href="https://www.flaticon.es/iconos-gratis/potencia-shell" title="promoción de autor" target="_blank"><img [ngSrc]="imageLogo" [alt]="altLogo" width="30" height="30"></a>   
        <h1 class="section__header-title">arathadmin&commat;arath:~</h1>
        
        <div>
            <button class="section-header__button" (click)="playAudio(audioElement)">
                {{ toggle ? 'pausar' : 'activar' }}
              </button>
        </div>
    </header>
    <audio class="audio" #audioElement autoplay loop muted src="../../../assets/audio.mp3"></audio>
</section>