<!-- tu-componente.component.html -->
<section class="carousel-container">
  <article *ngFor="let slide of slider; let i = index" [class.active]="i === activeSlideIndex" class="carousel-slide">
    <img [src]="slide.img" alt="{{ slide.title }}">
    <div class="carousel-caption">
      <h3>{{ slide.title }}</h3>
      <p>{{ slide.description }}</p>
    </div>
  </article>

  <button (click)="prevSlide()"><img src="../../../assets/circle-arrow-left-solid.svg" alt="icono de flecha apuntando a la izquierda para cambiar el slide"></button>
  <button (click)="nextSlide()"><img src="../../../assets/circle-arrow-right-solid.svg" alt="icono de flecha apuntando a la derecha para cambiar el slide"></button>
</section>
