.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.btnContact{
    padding: 1em 2em;
  font-size: 1rem;
  border: 1px dashed white;
  color: white;
}

