<section class="sectionC">
    <p class="sectionC__command"><span class="green">arathAdmin&commat;arath</span> <span class="purple">MINGW64</span> <span class="yellow">~/documents/portafolio</span> <span class="green">(master)</span> <span class="white">$</span></p>
</section>
<header class="header-home">
    <nav class="navegation-home">
        <ol class="navegation-homeList">
            <li class="navegation-homeList__item"><a class="navegation-homeList__link" routerLink="/">1.Sobre mi</a></li>
            <li class="navegation-homeList__item"><a class="navegation-homeList__link" routerLink="/conocimientos">2.Conocimiento</a></li>
            <li class="navegation-homeList__item"><a class="navegation-homeList__link" routerLink="/portafolio">3.Portafolio</a></li>
            <li class="navegation-homeList__item"><a class="navegation-homeList__link" routerLink="/contacto">4.Contacto</a></li>
        </ol>
    </nav>
</header>