/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
}
html{
    height: 100vh;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,74,86,1) 100%, rgba(83,86,103,1) 100%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,74,86,1) 100%, rgba(83,86,103,1) 100%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,74,86,1) 100%, rgba(83,86,103,1) 100%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1); 
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    height: 50vh;
}
.main{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    @media (max-width: 576px){
        width: 400;
    }
}